/* Checklist Styles */
ul#checklist {
  list-style: none;
  padding: 0;
  margin-bottom: 100px; /* Adjust the top margin to move the entire list higher */
}

#checklist li {
  margin-top: 30px; /* Adjust the spacing between checklist items */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

#checklist li label {
  flex-grow: 1; /* Grow to take available space */
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; /* Add some space between the label and buttons */
}

#checklist li button {
  background-color: #97af8f; /* Set button background color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checklist li button:hover {
  background-color: #758f6f; /* Darken the background color on hover */
}

button {
  background-color: #97af8f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #758f6f;
}

body {
  background-color: #F4E1CA;
  display: grid;
  font-family: Inknut Antiqua, sans-serif;
  justify-items: center;
  padding: 0.75rem;
}

h1 {
  max-width: 20ch;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  margin: 6rem 0;
  margin-top: 100px;
  letter-spacing: -0.02em;
}

#leave_a {
  position: fixed; 
  top: 150px; 
  right: 400px;  
  height: 420px;
  width: 220px;
}

#leave_b {
  position: fixed; 
  top: 200px; 
  left: 430px;  
  height: 350px;
  width: 150px;
}

#leave_c {
  position: fixed; 
  top: 620px; 
  right: 430px;  
  height: 150px;
  width: 150px;
}

#leave_d {
  position: fixed; 
  top: 620px; 
  left: 430px;  
  height: 150px;
  width: 150px;
}
