body {
    background-color: #F4E1CA;
    font-family: Inknut Antiqua, sans-serif;
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0; /* Set left to 0 to extend the navigation bar across the entire width */
    z-index: 9999;
  }

#tree {
    height: 576px;
    width: 324px;
}
#frankie {
    height: 50px;
    width: 50px;
}



