body {
   font-family: Inknut Antiqua, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4E1CA;
  }
  
  h1 {
    text-align: center;
    margin-top: 150px;
  }
  
  .sound-block {
    display: inline-block;
    margin: 20px;
    text-align: center;
  }
  
  .sound-block img {
    width: 330px;
    height: 330px;
    cursor: pointer;
    border-radius: 50%; /* Makes the images circular */
    border: 2px solid #77966D; /* Adds a border around the images */
    transition: border-color 0.3s ease; /* Adds a smooth transition effect */
  }
  
  .sound-block img:hover {
    border-color: #546a4c; /* Changes border color on hover */
  }
  
  .sound-block p {
    margin-top: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .sound-block {
      margin: 10px;
    }
  }
  
