
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');


/* Navigation Styles */
.main-nav {
    font-family: Inknut Antiqua, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0; /* Set left to 0 to extend the navigation bar across the entire width */
    background-color: #97af8f;
    z-index: 9999;
}


.main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.main-nav li {
    margin-left: 0px;
}


.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1.5rem;
    display: inline-block;
}


.main-nav a:hover {
    background-color: black;
    color: white;
}




body {
  font-family: Inknut Antiqua, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4E1CA;
}

h1, h2, h3 {
    color: black;
    text-align: center;
    position: absolute;
    top: 55px;
  }

  button {
    width: 60px;
    height: 60px;
    cursor: pointer; 
    border: 3px solid #97af8f;
    transition: border-color 0.3s ease;

  }
  

  button:hover {
    border-color: #333;
  }

  img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%; 
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
  }

  img:hover {
    border-color: #333;
  }

  #leftArrow {
    position: absolute;
    top: 110px;
    left: 140;
    width: 30px;
    height: 30px;
    border-radius: none;
    border: none;
  }
  #rightArrow {
    position: absolute; 
    top: 110px; 
    left:340px; 
    width: 30px; 
    height: 30px;
    border-radius: none; 
    border: none;
  }



