@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');


/* Navigation Styles */
.main-nav {
    font-family: Inknut Antiqua, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0; /* Set left to 0 to extend the navigation bar across the entire width */
    background-color: #97af8f;
    z-index: 9999;
}


.main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.main-nav li {
    margin-left: 0px;
}


.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1.5rem;
    display: inline-block;
}


.main-nav a:hover {
    background-color: black;
    color: white;
}

body {
    background-color: #F4E1CA;
    font-family: Inknut Antiqua, sans-serif;
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0; /* Set left to 0 to extend the navigation bar across the entire width */
    z-index: 9999;
    padding-top: 4cm;
  }

#tree {
    margin-bottom: 30px;
    height: 576px;
    width: 324px;
}



